<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">

<body>
    <header>
        <img src="logo.png" alt="logo" class="img-one">
        <div class="box">

        </div>
        <ul>
            <li><a href="#">Overseas Donors</a></li>
            <li><a href="#">Donte</a></li>
            <li><a href="#">Be a Sponsor</a></li>
        </ul>

    </header>

    <main>
        <section>
            <div>
                <div class="contaner">
                    <div class="contant">
                        <h1>Food Services</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium eaque ipsam dolore
                            fugiat
                            adipisci aperiam est ullam ut. Corporis sit maiores quas similique molestiae dignissimos,
                            accusantium necessitatibus animi <img src="logo 2.jpg" alt="logo" class="photo"></p>
                    </div>

                    <div class="contant">
                        <h1>Education</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta possimus atque distinctio,
                            nulla
                            asperiores commodi aliquam temporibus. Esse officiis quae quia dolorum, consequuntur sed
                            quisquam
                            doloribus aliquam <img src="logo 2.jpg" alt="logo" class="photo"></p>
                    </div>


                    <div class="contant">
                        <h1>Health</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum distinctio, doloremque sint
                            ullam
                            repudiandae libero alias neque, voluptatibus facilis aspernatur fuga totam est quibusdam
                            repellendus
                            assumenda. Voluptatum cupiditate <img src="logo 2.jpg" alt="logo" class="photo"></p>
                    </div>

                    <div class="contant">
                        <h1>IT Trainings</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi repellendus libero obcaecati
                            quisquam, vel ipsum reiciendis. Sed laborum, odio architecto ullam veniam unde quo
                            accusantium. Doloremque fuga sint  <img src="logo 2.jpg" alt="logo" class="photo"></p>
                    </div>

                    <div class="contant">
                        <h1>Rohani llaaj</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga labore sunt. Repellendus
                            asperiores nesciunt in voluptatem reiciendis officiis recusandae quod similique eos fuga!
                            Quam nobis
                            quod expedita aperiam temporibus.<img src="logo 2.jpg" alt="logo" class="photo"></p>
                    </div>

                    <div class="contant">
                        <h1>Relegious Work</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam optio rerum, aspernatur in
                            accusantium ad placeat hic aliquid inventore nihil laudantium ducimus voluptate, labore
                            consectetur
                            modi, libero mollitia fuga <img src="logo 2.jpg" alt="logo" class="photo"></p>
                    </div>

                    <div class="contant">
                        <h1>Food Services</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium eaque ipsam dolore
                            fugiat
                            adipisci aperiam est ullam ut. Corporis sit maiores quas similique mole]stiae dignissimos,
                            accusantium necessitatibus animi <img src="logo 2.jpg" alt="logo" class="photo">
                        </p>
                    </div>

                    <div class="contant">
                        <h1>Education</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta possimus atque distinctio,
                            nulla
                            asperiores commodi aliquam temporibus. Esse officiis quae quia dolorum, consequuntur sed
                            quisquam
                            doloribus aliquam <img src="logo 2.jpg" alt="logo" class="photo"></p>
                    </div>

                    <div class="contant">
                        <h1>Health</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum distinctio, doloremque sint
                            ullam
                            repudiandae libero alias neque, voluptatibus facilis aspernatur fuga totam est quibusdam
                            repellendus
                            assumenda. Voluptatum cupiditate <img src="logo 2.jpg" alt="logo"
                                class="photo"></p>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="last-logo">
           <img src="logo 1.png" alt="logo"  width="50px" height="50px">
        </div>
    </footer>

</body>
</head>

</html>