.a{
    background-color: hsl(180, 30%, 95%);
    padding: 2px;
}
.b{
    background-color: rgb(60, 68, 253);
    color: white;
}
.c{
    background-color: hwb(224 24% 0% / 0.871);
    color: white;
}
.d{
    background-color: #30a0fc;
    color: white;
}
.e{
    background-color: rgb(51, 131, 252);
    color: white;
}
.f{
    background-color: rgb(68, 156, 245);
    color: white;
}
.g{
    background-color: hsl(221, 100%, 68%);
    color: white;
}
.h{
    background-color: #adc9fc;
    color: white;
}
.i{
    background-color: rgb(66, 194, 151);
    color: white;
}
.j{
    background-color: rgb(247, 205, 211);
    color: white;
}
.k{
    background-color: rgb(245, 188, 197);
    color: white;
}
.l{
    background-color: rgb(255, 182, 193);
    color: white;
}
.m{
    background-color: rgb(252, 186, 196);
    color: white;
}
.n{
    background-color: rgb(231, 146, 159);
    color: white;
}
.o{
    background-color: rgb(240, 157, 170);
    color: white;
}
.p{
    background-color:rgb(243, 69, 127);
    color: white;
}